.contact {
    background-color: #6a6a6a;
    color: #fafafa;
    padding-bottom: 0;
}

.contact__email,
.contact__phone,
.contact__linkedin {
    display: block;
    width: 400px;
    margin: 0 auto 0.25em auto;
    max-width: 100%;
    text-align: left;
}

.contact__email span:nth-of-type(1),
.contact__phone span:nth-of-type(1),
.contact__linkedin span:nth-of-type(1) {
    display: inline-block;
    width: 100px;
    text-align: left;
    color: #e1e1e1;
}

.contact__email span:nth-of-type(2),
.contact__phone span:nth-of-type(2),
.contact__linkedin span:nth-of-type(2) {
    display: inline-block;
    transition: color 0.3s ease-in;
}

.contact__email span:nth-of-type(2):hover,
.contact__phone span:nth-of-type(2):hover,
.contact__linkedin span:nth-of-type(2):hover {
    text-decoration: underline;
    color: #fff;
}

.map {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 480px;
    padding-top: 4em;

    @media (max-width: 640px) {
        margin-left: -0.5em;
        margin-right: -0.5em;
        width: calc(100% + 1em);
    }
}

.map__google {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.map .map__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}