<!-- Contact Section -->
<section class="contact">
  <div class="contact__title title">Contact</div>
  <p class="contact__line contact__line--email">
    <span>Email: </span><span>bartholomew.david@gmail.com</span>
  </p>
  <p class="contact__line contact__line--phone">
    <span>Phone: </span><span>647-783-3620</span>
  </p>
  <p class="contact__line contact__line--github">
    <span>Social: </span><span><a href="https://www.github.com/bartholomewdavid">Github</a></span>
  </p>
  <p class="contact__line contact__line--linkedin">
    <span>Social: </span><span><a href="https://www.linkedin.com/in/david-bartholomew-4b268959">LinkedIn</a></span>
  </p>

  <div class="map">
    <div class="map__cover"></div>
    <div id="map__google" class="map__google"></div>
  </div>
</section>