<section class="brands">
    <div class="brands__title title">Clients</div>
    <div class="brands__description">
        <p>In my career I&rsquo;ve had the luxury of working with some incredible companies.</p>
    </div>
    <div class="brands__tray">
        <ul>
            <li class="brands__tray__item">
                <a href="http://www.interac.ca/en/" target="_blank">
                    <img src="/assets/images/clients/interaclogo.png" alt="Interac" />
                </a>
            </li><li class="brands__tray__item">
                <a href="http://www.rbc.com/canada.html" target="_blank">
                    <img src="/assets/images/clients/royalbankcanadalogo.png" alt="Royal Bank of Canada (RBC)" />
                </a>
            </li><li class="brands__tray__item">
                <a href="http://www.jam3.com/" target="_blank">
                    <img src="/assets/images/clients/jam3logo.png" alt="Jam3" />
                </a>
            </li><li class="brands__tray__item">
                <a href="http://www.wnetwork.com/" target="_blank">
                    <img src="/assets/images/clients/wnetworklogo.png" alt="W Network" />
                </a>
            </li><li class="brands__tray__item">
                <a href="https://www.ytv.com/" target="_blank">
                    <img src="/assets/images/clients/ytvlogo.png" alt="YTV" />
                </a>
            </li><li class="brands__tray__item">
                <a href="http://www.canadagoose.com/ca/en/home-page" target="_blank">
                    <img src="/assets/images/clients/canadagooselogo.png" alt="Canada Goose" />
                </a>
            </li><li class="brands__tray__item">
                <a href="https://rubikloud.com/" target="_blank">
                    <img src="/assets/images/clients/rubikloudlogo.png" alt="Rubikloud" />
                </a>
            </li><li class="brands__tray__item">
                <a href="https://www.deckerip.com/" target="_blank">
                    <img src="/assets/images/clients/deckerlogo.png" alt="DeckerIP" />
                </a>
            </li><li class="brands__tray__item">
                <a href="https://playgroundinc.com/" target="_blank">
                    <img src="/assets/images/clients/playgroundlogo.png" alt="Playground" />
                </a>
            </li><li class="brands__tray__item">
                <a href="https://www.thegameofthings.com/" target="_blank">
                    <img src="/assets/images/clients/thingslogo.png" alt="The Game of THINGS!" />
                </a>
            </li><li class="brands__tray__item">
                <a href="https://whoosh.com/" target="_blank">
                    <img src="/assets/images/clients/whooshlogo.png" alt="Whoosh!" />
                </a>
            </li><li class="brands__tray__item">
                <a href="http://www.choosemuse.com/" target="_blank">
                    <img src="/assets/images/clients/muselogo.png" alt="MUSE" />
                </a>
            </li>
        </ul>
    </div>

    <div class="technology__title title">Technology</div>
    <div class="technology__description">
        <p>
            Along the way I&rsquo;ve been able to leverage some great technologies to<br/> provide real business value to
            clients.
        </p>
    </div>
    <div class="technology__tray">
        <a href="https://angular.io/" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/angularlogo.png" alt="Angular"/>
        </a><a href="https://facebook.github.io/react/" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/reactlogo.png" alt="React"/>
        </a><a href="https://www.djangoproject.com/" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/djangologo.png" alt="Django"/>
        </a><a href="https://nodejs.org/en/" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/nodejslogo.png" alt="Node"/>
        </a><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/javascriptlogo.png" alt="Javascript"/>
        </a><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/css3logo.png" alt="Cascading Style Sheets (CSS3)"/>
        </a><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/html5logo.png" alt="Hyper Text Markup Language (HTML5)"/>
        </a><a href="https://git-scm.com/" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/gitlogo.png" alt="Git Versioning"/>
        </a><a href="https://www.python.org/" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/pythonlogo.png" alt="Python"/>
        </a><a href="http://backbonejs.org/" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/backbonelogo.png" alt="Backbone"/>
        </a><a href="http://impactjs.com/" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/impactlogo.png" alt="Impact (HTML5 Framework)"/>
        </a><a href="https://jquery.com/" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/jquerylogo.png" alt="jQuery"/>
        </a><a href="" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/sasslogo.svg" alt="Sass"/>
        </a><a href="" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/tornadologo.png" alt="Tornado"/>
        </a><a href="" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/unitylogo.png" alt="Unity"/>
        </a><a href="" class="technology__tray__item" target="_blank">
            <img src="/assets/images/technology/wordpresslogo.png" alt="Wordpress"/>
        </a>
    </div>
</section>