<section class="brands">
    <div class="brands__title title">Clients</div>
    <div class="brands__description">
      <p>In my career I&rsquo;ve had the luxury of working with some incredible companies.</p>
    </div>
    <div class="brands__tray">
      <ul>
        <li class="brands__tray__item">
          <img src="/assets/images/clients/wnetworklogo.png" alt="W Network" />
        </li><li class="brands__tray__item">
          <img src="/assets/images/clients/ytvlogo.png" alt="YTV" />
        </li><li class="brands__tray__item">
          <img src="/assets/images/clients/canadagooselogo.png" alt="Canada Goose" />
        </li><li class="brands__tray__item">
          <img src="/assets/images/clients/thingslogo.png" alt="The Game of THINGS!" />
        </li><li class="brands__tray__item">
          <img src="/assets/images/clients/whooshlogo.png" alt="Whoosh!" />
        </li><li class="brands__tray__item">
          <img src="/assets/images/clients/deckerlogo.png" alt="DeckerIP" />
        </li><li class="brands__tray__item">
          <img src="/assets/images/clients/playgroundlogo.png" alt="Playground" />
        </li><li class="brands__tray__item">
          <img src="/assets/images/clients/rubikloudlogo.png" alt="Rubikloud" />
        </li><li class="brands__tray__item">
          <img src="/assets/images/clients/muselogo.png" alt="MUSE" />
        </li>
      </ul>
    </div>

    <div class="technology__title title">Technology</div>
    <div class="technology__description">
      <p>
        Along the way I&rsquo;ve been able to leverage some great technologies to<br/> provide real business value to clients.
      </p>
    </div>
    <div class="technology__tray">
      <span class="technology__tray__item">
          <img src="/assets/images/technology/angularlogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/backbonelogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/csharplogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/css3logo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/djangologo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/gitlogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/html5logo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/impactlogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/javascriptlogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/jquerylogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/lesslogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/nodejslogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/phplogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/pythonlogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/reactlogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/styluslogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/tornadologo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/unitylogo.png" alt=""/>
      </span><span class="technology__tray__item">
          <img src="/assets/images/technology/wordpresslogo.png" alt=""/>
      </span>
    </div>
  </section>