<section class="skills">
  <div class="skills__title title">
    Skills
  </div>
  <div class="skills__description">
    <p>
      Although I&rsquo;m skilled at a wide array of technologies,<br/> below are the things I really excel at.
    </p>
  </div>
  <div class="skills__tray">
    <ul>
      <li class="skills__tray__item">
        <i class="material-icons">devices_other</i>
        <span>Frontend</span>
      </li>
      <li class="skills__tray__item">
        <i class="material-icons">mood</i>
        <span>Interaction</span>
      </li>
      <li class="skills__tray__item">
        <i class="material-icons">https</i>
        <span>Backend</span>
      </li>
    </ul>
  </div>
</section>